/401_converttemp/build/
/401_converttemp/dist/
/402_somaquadrados/build/
/402_somaquadrados/dist/
/403_isprimo/build/
/403_isprimo/dist/
/404_isbisexto/build/
/404_isbisexto/dist/
/405_calculadora/build/
/405_calculadora/dist/
/406_fatorial/build/
/406_fatorial/dist/
/501_fibonacci/build/
/501_fibonacci/dist/
/BolhaSort/build/
/BolhaSort/dist/
/ExemploClasse/build/
/ExemploClasse/dist/